body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('bg.png');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 320px; /* Забезпечує мінімальну ширину сторінки */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh; /* Забезпечує вертикальне центрування */
  padding: 20px;
  box-sizing: border-box; /* Враховує padding у ширині */
}

.card {
  background: white;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  max-width: 400px; /* Максимальна ширина */
  min-width: 300px; /* Мінімальна ширина */
  width: 100%; /* Займає всю доступну ширину в межах батьківського контейнера */
  text-align: center;
  box-sizing: border-box; /* Враховує padding у ширині */
}

.logo-section {
  display: flex;
  margin-bottom: 30px;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  /* margin-bottom: 10px; */
  margin-right: 20px;
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-subContainer {
  display: block;
}

.title {
  align-self: flex-start;
  font-size: 20px;
  margin: 0;
}

.description {
  margin: 5px 0;
  color: #000;
  font-size: 14px;
}

.features {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  text-align: left;
  margin-bottom: 50px;
}

.features li {
  margin: 10px 0;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.features span {
  margin-right: 10px;
  font-size: 1.5rem;
}

.telegram-btn {
  display: inline-flex; /* Вирівнюємо іконку та текст по горизонталі */
  align-items: center; /* Вирівнюємо по вертикалі */
  text-decoration: none;
  background: black;
  color: white;
  padding: 15px 100px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  transition: background 0.3s ease;
  white-space: nowrap;

  display: flex; /* Використовуємо flex для вирівнювання вмісту */
  justify-content: center; /* Центруємо текст горизонтально */
  align-items: center; /* Центруємо текст вертикально */

}

.telegram-btn:hover {
  background: #444;
}

.telegram-icon {
  margin-right: 8px; /* Відступ між іконкою та текстом */
  fill: white; /* Колір іконки */
  width: 20px;
  height: 20px;
}

